
#img__pedro{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 60px;
}

.cor-home{
    background-color: #204C72;
}

.titulo-home{
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    color: #FFFFFF;
}
.titulo-home::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }

}

.bg-hr{
    background: #FFFFFF;
    height: 5px;
}

.info-home{
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
}

